In [132]:
import pandas
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn import tree
import sklearn

In [133]:
ds = pandas.read_csv('Datasheets/Maternal Health Risk Data Set.csv')

In [134]:
ds.head()

   Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
0   25         130           80  15.0      98.0         86  high risk
1   35         140           90  13.0      98.0         70  high risk
2   29          90           70   8.0     100.0         80  high risk
3   30         140           85   7.0      98.0         70  high risk
4   35         120           60   6.1      98.0         76   low risk

# One Hot Encoding

In [135]:
dummy = pandas.get_dummies(ds.RiskLevel)

In [136]:
ds = ds.drop('RiskLevel', axis=1)

In [137]:
ds = pandas.concat([ds, dummy], axis=1)

In [138]:
ds

,Age,SystolicBP,DiastolicBP,BS,BodyTemp,HeartRate,high risk,low risk,mid risk
0,25,130,80,15.0,98.0,86,1,0,0
1,35,140,90,13.0,98.0,70,1,0,0
2,29,90,70,8.0,100.0,80,1,0,0
3,30,140,85,7.0,98.0,70,1,0,0
4,35,120,60,6.1,98.0,76,0,1,0
...,...,...,...,...,...,...,...,...,...
1009,22,120,60,15.0,98.0,80,1,0,0
1010,55,120,90,18.0,98.0,60,1,0,0
1011,35,85,60,19.0,98.0,86,1,0,0
1012,43,120,90,18.0,98.0,70,1,0,0
1013,32,120,65,6.0,101.0,76,0,0,1

# Ordinal Encoding

In [107]:
ds = pandas.read_csv('Datasheets/Maternal Health Risk Data Set.csv')

In [108]:
ds.head()

   Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
0   25         130           80  15.0      98.0         86  high risk
1   35         140           90  13.0      98.0         70  high risk
2   29          90           70   8.0     100.0         80  high risk
3   30         140           85   7.0      98.0         70  high risk
4   35         120           60   6.1      98.0         76   low risk

In [109]:
ds.RiskLevel.unique()

array(['high risk', 'low risk', 'mid risk'], dtype=object)

In [114]:
order = ['low risk', 'mid risk', 'high risk']

In [115]:
enc = OrdinalEncoder(categories=[order]).fit_transform(ds[['RiskLevel']])

In [117]:
ds.RiskLevel = enc

In [118]:
ds

      Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
0      25         130           80  15.0      98.0         86        2.0
1      35         140           90  13.0      98.0         70        2.0
2      29          90           70   8.0     100.0         80        2.0
3      30         140           85   7.0      98.0         70        2.0
4      35         120           60   6.1      98.0         76        0.0
...   ...         ...          ...   ...       ...        ...        ...
1009   22         120           60  15.0      98.0         80        2.0
1010   55         120           90  18.0      98.0         60        2.0
1011   35          85           60  19.0      98.0         86        2.0
1012   43         120           90  18.0      98.0         70        2.0
1013   32         120           65   6.0     101.0         76        1.0

[1014 rows x 7 columns]

# Label Encoding

In [139]:
ds = pandas.read_csv('Datasheets/Maternal Health Risk Data Set.csv')

In [140]:
ds.head()

   Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
0   25         130           80  15.0      98.0         86  high risk
1   35         140           90  13.0      98.0         70  high risk
2   29          90           70   8.0     100.0         80  high risk
3   30         140           85   7.0      98.0         70  high risk
4   35         120           60   6.1      98.0         76   low risk

In [145]:
le = LabelEncoder().fit_transform(ds[['RiskLevel']])

E:\Anaconda\Anaconda\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [146]:
ds.RiskLevel = le

In [149]:
ds

      Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
0      25         130           80  15.0      98.0         86          0
1      35         140           90  13.0      98.0         70          0
2      29          90           70   8.0     100.0         80          0
3      30         140           85   7.0      98.0         70          0
4      35         120           60   6.1      98.0         76          1
...   ...         ...          ...   ...       ...        ...        ...
1009   22         120           60  15.0      98.0         80          0
1010   55         120           90  18.0      98.0         60          0
1011   35          85           60  19.0      98.0         86          0
1012   43         120           90  18.0      98.0         70          0
1013   32         120           65   6.0     101.0         76          2

[1014 rows x 7 columns]